<div class="container mt-4">
  <h2>Hoenn Region Gym Leaders</h2>
  <hr>
  
  <div class="row">
    <div class="col-md-6" *ngFor="let leader of leaders">
      <div class="card mb-3">
        <div class="card-header bg-success text-white">
          <h4>{{ leader.name }}</h4>
        </div>
        <div class="card-body">
          <p><strong>Town:</strong> {{ leader.town }}</p>
          <p><strong>Specialty:</strong> {{ leader.specialty }}</p>
          <p><strong>Badge:</strong> {{ leader.badge }}</p>
          <p><strong>Team:</strong></p>
          <ul>
            <li *ngFor="let pokemon of leader.team">{{ pokemon }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
