<div class="home">
  <div class="welcome">
    <h1>Pokemon Regions</h1>
    <p>Welcome! Use the navigation bar to explore the Gym Leaders of each region.</p>
  </div>

  <section>
    <h2>Kanto Region</h2>
    <p>
     Kanto is the original Pokémon region, introduced in Pokémon Red and Blue. 
     It features classic cities like Pallet Town and Saffron City and is home to the first 151 Pokémon. 
     Trainers travel across diverse landscapes—forests, caves, and seas—to challenge eight Gym Leaders and the Indigo League.
    </p>
  </section>

  <section>
    <h2>Johto Region</h2>
    <p>
     Johto was introduced in Pokémon Gold and Silver and is located west of Kanto. 
     It has a strong connection to Pokémon history and legends, especially the Legendary Pokémon Ho-Oh and Lugia. 
     Johto blends traditional Japanese-inspired architecture with rural routes, ancient towers, and the iconic Bell and Burned Towers.
    </p>
  </section>
</div>
